* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: #C4C4C4;
    border: 2px solid black;
}

.box-1 {
   
    /* width: 660px; */
    height: 600px;
}
.box-2 {
   
    /* width: 660px; */
    height: 300px;
}
.box-3 {
    
    /* width: 330px; */
    height: 300px;
}
.box-4 {
   
    /* width: 330px; */
    height: 300px;
} 
@media screen and (max-width:992px) {
    .box-1{
        height: 400px;
    }
    .box-2 {
        height: 200px;
    }
    .box-3 {
        height: 200px;
    }
    .box-4 {
        height: 200px;
    }
}
@media screen and (max-width:768px) {
    .box-1{
        height: 300px;
    }
    .box-2 {
        height: 150px;
    }
    .box-3 {
        height: 150px;
    }
    .box-4 {
        height: 150px;
    }
}